

.home-container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    

    justify-content: center !important; 
    
    width: 100%;
    min-height: 100vh; 
    

    padding-top: 0 !important; 
    
    padding-bottom: 40px;
    box-sizing: border-box;
}


.home-container h1 {
    text-align: center !important;
    width: 100%;
    max-width: 800px;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 0 4px 15px rgba(0,0,0,0.5);
    font-size: 2.5rem;
}


.home-container > * {
    max-width: 100%; 
}